option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 2000
  aws:elasticbeanstalk:application:environment:
    BUNDLE_PATH: "vendor/bundle"
    BUNDLE_WITHOUT: "test:development"
    BUNDLE_DISABLE_SHARED_GEMS: 1
    RAILS_SKIP_MIGRATIONS: true
    RAILS_SKIP_ASSET_COMPILATION: true
    LOGGING: debug
    
packages:
  yum:
    git: []
    curl: []
    wget: []
    openssl-devel: []
    
commands:
  01_node_download:
    cwd: /tmp
    command: "curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -"
    ignoreErrors: true
  02_node_install:
    cwd: /tmp
    command: "sudo yum install nodejs -y"
    ignoreErrors: true
  03_yarn_download:
    cwd: /tmp
    test: '[ ! -f /usr/bin/yarn ] && echo "yarn not installed"'
    command: "sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo"
    ignoreErrors: true
  04_yarn_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/yarn ] && echo "yarn not installed"'
    command: "sudo yum install yarn -y"
    ignoreErrors: true  
  05_mkdir_webapp_dir:
    test: '[ ! -p /home/webapp ] && echo "webapp does not exist"'
    command: "sudo mkdir -p /home/webapp"
    ignoreErrors: true
  06_chown_webapp_dir:
    test: '[ ! -p /home/webapp ] && echo "webapp does not exist"'
    command: "sudo chown webapp:webapp /home/webapp"
    ignoreErrors: true
  07_chmod_webapp_dir:
    test: '[ ! -p /home/webapp ] && echo "webapp does not exist"'
    command: "sudo chmod 0744 /home/webapp"
    ignoreErrors: true
  08_mkdir_logs:
    command: "sudo mkdir -p /var/app/current/log/"   
  09_chmod_logs:
    command: "sudo chown webapp:webapp -R /var/app/current/log/"
    ignoreErrors: true
  10_chmod_log_dir:
    command: "sudo chmod 0664 -R /var/app/current/log/"
    ignoreErrors: true  
  11_chown_current:
    command: "sudo chown webapp:webapp -R /var/app/current/"
    ignoreErrors: true
  12_chmod_current:
    command: "sudo chmod 0755 -R /var/app/current/"
    ignoreErrors: true
  13_chown_current:
    command: "sudo chown webapp:webapp -R /var/app/ondeck/"
    ignoreErrors: true
  14_chown_current:
    command: "sudo chmod 0644 -R /var/app/ondeck/"
    ignoreErrors: true
container_commands:
  15_config_nokogiri:
    command: "bundle config build.nokogiri --use-system-libraries"
  16_bundle_install:
    command: "bundle install" 
  17_yarn_install:
    command: "yarn install --check-files --force --production"
  18_asset_precompile:
    command: "NODE_ENV=production bundle exec rails assets:precompile --trace"
  19_webpacker_compile:
    command: "NODE_ENV=production bundle exec rails webpacker:compile --trace"     
  20_db_migrate:
    command: "bundle exec rails db:migrate"
