<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="../../index2.html" class="h2">Nature Technology</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">メールアドレスを入力してください。入力されたメールアドレス宛に、パスワード再設定URLを送付いたします。</p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", required: true, placeholder:"メールアドレス" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.submit t('.send_me_reset_password_instructions'), class:"btn btn-primary btn-block" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>
      <p class="mt-3 mb-1">
        <%= render "users/shared/links" %>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>




